<header{{ with .Page.Params.headerImage }}
    class="HeaderContent--Long"
    style="background-image: url('/images/stock/{{ . }}')"
{{ end }}>
  <div class="HeaderContent">
    <a class="HeaderContent__HomeLink" href="/">
      <h1>{{ .Site.Title }}</h1>
    </a>
    <div class="HeaderContent__MenuLinks">
      {{ $currentPage := . }}
      {{ range .Site.Menus.header }}
        {{ if .HasChildren }}
          <div class="HeaderContent__MenuLinkContainer">
            <a href="{{ .URL }}" class="HeaderContent__MenuLink
                {{- if $currentPage.HasMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
              {{ .Name }}
            </a>
            <div class="HeaderContent__MenuChildren">
              {{ range .Children }}
                <div class=HeaderContent__MenuChildContainer>
                  <a href="{{ .URL }}" class="HeaderContent__MenuLink HeaderContent__MenuChild
                      {{- if $currentPage.IsMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                      {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
                    {{ .Name }}
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        {{ else }}
          <div class="HeaderContent__MenuLinkContainer">
            <a href="{{ .URL }}" class="HeaderContent__MenuLink
                {{- if $currentPage.IsMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
              {{ .Name }}
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="HeaderContent__MobileMenu">
      <input class="HeaderContent__MobileMenuInput" id="MobileMenu__Input" type="checkbox" />
      <label for="MobileMenu__Input" class="HeaderContent__HamburgerContainer">
        <div class="HeaderContent__Hamburger"></div>
      </label>
      <div class="HeaderContent__MobileMenuContent">
        <div class="HeaderContent__MobileMenuForceRight"></div>
        <div>
          {{ range .Site.Menus.header }}
            {{ if .HasChildren }}
              <div class="HeaderContent__MenuLinkContainer">
                <a href="{{ .URL }}" class="HeaderContent__MenuLink
                    {{- if $currentPage.HasMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                    {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
                  {{ .Name }}
                </a>
              </div>
              {{ range .Children }}
                <div class="HeaderContent__MenuLinkContainer">
                  <a href="{{ .URL }}" class="HeaderContent__MenuLink HeaderContent__MenuChild
                      {{- if $currentPage.IsMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                      {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
                    {{ .Name }}
                  </a>
                </div>
              {{ end }}
            {{ else }}
              <div class="HeaderContent__MenuLinkContainer">
                <a href="{{ .URL }}" class="HeaderContent__MenuLink
                    {{- if $currentPage.IsMenuCurrent "header" . }} HeaderContent--Active{{- end }}
                    {{- with .Page.Params.classHeaderLink }} {{ . }}{{- end }}">
                  {{ .Name }}
                </a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
