/* Normalize */
html, body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Cryptical Theme */
/*
Dark Color: #3c4c5c, rgb(60, 76, 92)
Off White: #fcfbf8, rgb(252, 251, 248)
Red: #d16d5a, rgb(209, 109, 90)
*/

body {
  background-color: #fcfbf8;
}

/* Footer */
footer {
  font-family: 'Nunito', sans-serif;
  background-color: #3c4c5c;
  padding: 20px;
  color: rgba(252, 251, 248, 0.8);
}
