/* Header & Navigation Layouts */
.SidebarNavigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0px;
  background-color: $mobile-nav-background-color;
  transition: width 0.2s linear;

  .SidebarNavigation__Closer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(100vw - #{$mobile-nav-width});
    cursor: e-resize;
    pointer-events: none;
  }

  .SidebarNavigation__Container {
    width: calc(#{$mobile-nav-width} - 2 * #{$mobile-nav-padding});
    height: calc(100% - 2 * #{$mobile-nav-padding});
    overflow-y: scroll;
    padding: $mobile-nav-padding;
  }

  ~ * {
    transition: transform 0.2s linear;
  }
}

header {
  padding: $header-content-padding 0;
  width: 100vw;
  color: $header-text-active-color;
  background-color: $header-background-color;

  &.Header--Long {
    height: $header-long-height;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
  }

  .HeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $header-content-padding;

    .HeaderContent__HomeLink {
      max-width: $header-logo-width;

      h1 {
        font-family: $font-family-headers;
        font-size: 18px;
        line-height: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        color: $primary-complement;
        text-shadow: $header-text-shadow;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .HeaderNavigation__Container {
      display: block;
    }
    .SidebarNavigation__Opener {
      display: none;
      height: $sidebar-opener-size;
      width: $sidebar-opener-size;
    }
  }
}

.HamburgerIcon {
  position: relative;
  top: 13px;
  left: 2.5px;

  &:before {
    content: "";
    position: absolute;
    top: -7px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 7px;
  }
}
.HamburgerIcon,
.HamburgerIcon:before,
.HamburgerIcon:after {
  height: 2px;
  width: 25px;
  background-color: $header-text-active-color;
  transition: all 0.2s linear;
}

#ShowSidebarNavigation:checked + .SidebarNavigation + header .HeaderContent .SidebarNavigation__Opener {
  .HamburgerIcon {
    background-color: rgba($header-text-active-color, 0);
    &:before {
      transform: rotate(45deg);
      transform-origin: 4px 6px;
    }
    &:after {
      transform: rotate(-45deg);
      transform-origin: 5px -3px;
    }
  }
}

@media (max-width: $breakpoint-large) {
  #ShowSidebarNavigation:checked + .SidebarNavigation {
    width: $mobile-nav-width;

    .SidebarNavigation__Closer {
      display: block;
      pointer-events: all;
    }

    ~ * {
      transform: translateX(-$mobile-nav-width);
      pointer-events: none;
    }
  }
  header .HeaderContent {
    .HeaderNavigation__Container {
      display: none;
    }
    .SidebarNavigation__Opener {
      display: block;
    }
  }
}
